<StackLayout class="soil-container">
    
    <FlexboxLayout class="flex-center-nested-layouts">
        <GridLayout columns="*" rows="*">
            <!-- add another few rows--> 
            <GridLayout  col="0" row="0">
                <Label class="fa icon-microchip" text="&#xf2db;"></Label>
            </GridLayout>
            <GridLayout  col="0" row="1">
                <Label class=""> DHT 11 Sensor Data</Label>
            </GridLayout>
        </GridLayout>
    </FlexboxLayout>
    <!-- <FlexboxLayout class="flex-center-nested-layouts">
    </FlexboxLayout> -->
    <!-- TODO: custom tear ui component test -->
    <!-- <StackLayout class="drop-wrapper" verticalAlignment="center">
        <Label class="test-tear-top"></Label>
        <Label class="test-tear"></Label>
    </StackLayout> -->
</StackLayout>
