<StackLayout>
    <Label class="TitleLogin" text="LOGIN" style="text-align:center"></Label>
    
    <Textfield  class="usernameField"
                hint="Username/Email"
                [text]='username'
                secure="false"
                keyboardType="email"
                returnKeyType="next" 
                (returnPress)="usernameOnReturnPress($event)"
                autocorrect="false"
                maxLength="30"
                (focus)="usernameOnFocus($event)" 
                (blur)="usernameOnBlur($event)"
                >
    </Textfield>

    <Textfield  class="passwordField"
                hint="Password"
                [text]='password'
                secure="true"
                keyboardType="email"
                returnKeyType="done" 
                (returnPress)="onReturnPress($event)"
                autocorrect="false"
                maxLength="30"
                (focus)="onFocus($event)" 
                (blur)="onBlur($event)"
                >
    </Textfield>
    
    <Button class="LoginButton" (tap)="Login()" text="Log in"></Button>

    <Button class="NewAccountButton" (tap)="createNewAccount()" text="New around here? Create an account!"></Button>

</StackLayout>
