$primaryCanvas: rgb(255, 255, 255);
$primaryBaseColor: #91E7EB;
$secondaryBaseColor: #B8FBFF;
$primaryHighlightColor: #EBB591;
$primaryUnselectedColor: #529A9E;
$primaryTextColor: #000000;
$primaryBorderColor: #EBA59D;
$primaryNavigationColor: #fbe55a;

$lightgray: lightgray;
