$primaryCanvas: rgb(255, 255, 255);
$primaryBaseColor: rgb(50, 198, 243);
$secondaryBaseColor: rgb(89, 216, 255);
$primaryHighlightColor: rgb(255, 255, 255);
$primaryUnselectedColor: #000000;
$primaryTextColor: #000000;
$primaryBorderColor: #EBA59D;
$primaryNavigationColor: #fbe55a;

$lightgray: lightgray;
