$primaryCanvas: rgb(255, 255, 255);
$primaryBaseColor: rgb(50, 200, 245);
$secondaryBaseColor: rgb(89, 216, 255);
$primaryHighlightColor: rgb(255, 255, 255);
$primaryUnselectedColor: #000000;
$primaryTextColor: #000000;
$primaryBorderColor: #000000;
$primaryNavigationColor: rgb(50, 198, 243);


$lightgray: lightgray;
