<GridLayout class="thermometer-container">
    <FlexboxLayout class="flex-center-nested-layouts">
        <AbsoluteLayout class="thermo-outer-container" #absLayout>
            <Label #mainTopThermoLargeTickMarkLabel top="35" left="114" class="thermo-large-tick-marks"></Label>
            <FlexboxLayout class="thermo-outer-wrapper">
                <Label class="outer-round-square"></Label>
                <Label class="outer-circle"></Label>
            </FlexboxLayout>
        </AbsoluteLayout>
    </FlexboxLayout>
    <FlexboxLayout class="flex-center-nested-layouts">
        <StackLayout class="thermo-inner-wrapper">
            <StackLayout>
                <Label #thermometerLiquid class="inner-round-square"></Label>
            </StackLayout>
            <Label class="inner-circle" [text]="this.getTemperatureText()" (loaded)="onCircleLabelLoaded($event)"></Label>
        </StackLayout>
    </FlexboxLayout>
</GridLayout>
