<GridLayout class="humidity-container">
    <FlexboxLayout class="flex-center-nested-layouts">
        <AbsoluteLayout>
            <Label class="fa icon-drop" text="&#xf043;"></Label>
        </AbsoluteLayout>
    </FlexboxLayout>
    <FlexboxLayout class="flex-center-nested-layouts">
        <Label class="humidity-label-text" text="{{ humidityValue | number : '1.1-1' }}%"></Label>
    </FlexboxLayout>
    <!-- TODO: custom tear ui component test -->
    <!-- <StackLayout class="drop-wrapper" verticalAlignment="center">
        <Label class="test-tear-top"></Label>
        <Label class="test-tear"></Label>
    </StackLayout> -->
</GridLayout>
