<RadSideDrawer drawerTransition="RevealTransition">
  <GridLayout class="navigation-menu-container" columns="*" rows="*, 2*" tkDrawerContent>
    <FlexboxLayout row="0" class="profile-image-section-wrapper flex-center-nested-layouts">
      <Label #profileIconLabel (loaded)="onProfileIconLabelLoaded($event)" class="fa" text="&#xf06c;"></Label>
    </FlexboxLayout>
    <GridLayout row="1" rows="auto, auto, auto" class="nav-buttons-wrapper">
      <Button class="fa" row="0">
        <FormattedString>
          <Span class="button-icon-font" text="&#xf009;"></Span>
          <Span text="     Dashboard"></Span>
        </FormattedString>
      </Button>
      <Button row="1" text="Settings"></Button>
      <Button row="2" text="Logout!"></Button>
    </GridLayout>
  </GridLayout>
    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
