@import "../../shared/scss/variables";

TabStrip {
    background: $primaryBaseColor;
    un-selected-item-color:$primaryUnselectedColor;
    selected-item-color: $primaryHighlightColor;
    highlight-color: #9E6742;
    height: 58;
}
TabStripItem {
    .img-icon {
        font-size: 11;
    }
    Label {
        font-weight: bold;
        font-size: 11;
    }
}
