.TitleNewAccount{
    font:700;
    color: rgb(170, 16, 16);
    font-weight: bold;
}

.SubtitlePassword{
    padding-right: 40px;
    padding-left: 40px;
}

.SubtitlePassword2{
    padding-right: 40px;
    padding-left: 40px;
}

.SubtitleClassCode{
    padding-right: 40px;
    padding-left: 40px;
}
