<RadCartesianChart
    seriesSelectionMode="Single"
    (seriesSelected)="onClickChart($event)"
    (seriesDeselected)="onDeselectedChart($event)">
    <RadCartesianChartGrid
        tkCartesianGrid
        horizontalLinesVisible="true"
        verticalLinesVisible="true">
    </RadCartesianChartGrid>
    <DateTimeContinuousAxis
        tkCartesianHorizontalAxis
        plotMode="OnTicks"
        dateFormat="MMM-d"
        labelFitMode="Rotate" labelRotationAngle="1.2"
        allowPan="true">
    </DateTimeContinuousAxis>
    <LinearAxis
        tkCartesianVerticalAxis
        [labelFormat]="linearAxisLabelFormatForDataItem"
        allowPan="true">
    </LinearAxis>
    <RadLegendView
        tkCartesianLegend
        height="52"
        title=" {{splineAreaProperties.splineAreaProperties.chartTitle}}"
        titleColor="black"
        titleSize="7"
        position="Top"
        enableSelection="true">
    </RadLegendView>
    <AreaSeries
        [strokeColor]="curveColor"
        [fillColor]="areaColor"
        seriesName="areaSeries"
        [legendTitle]="splineAreaProperties.splineAreaProperties.legendTitle"
        tkCartesianSeries
        [items]="dataItems"
        categoryProperty="timeStamp"
        valueProperty="dataValue">
        <PointLabelStyle
            tkAreaLabelStyle
            [strokeColor]="curveColor"
            [fillColor]="curveColor">
        </PointLabelStyle>
    </AreaSeries>
</RadCartesianChart>
