@import "../../shared/scss/variables";

.chart-wrapper {
    // This might cause the app to crash on IOS
    // If it doe cause issues then add property only on android devices
    android-elevation: 16;
    background-color: $primaryCanvas;
    border-radius: 20;
    margin-top: 12;
    margin-bottom: 12;
}
