<ns-action-bar title="Charts" ></ns-action-bar>
<ScrollView orientation="vertical">
    <!-- TODO: need to dynamically adjust the height of the charts constrainer
            so it can be responsive and display two charts at a time -->
    <GridLayout [rows]="gridLayoutRows">
        <GridLayout row="{{i}}" class="chart-wrapper" *ngFor="let chart of charts; index as i">
            <ns-spline-area-series-chart
                [splineAreaProperties]="chart">
            </ns-spline-area-series-chart>
        </GridLayout>
    </GridLayout>
</ScrollView>
