/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";
@import "./app/shared/scss/mixins";
@import "./app/shared/scss/variables";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/
.fa {
    // font-family: "FontAwesome", "Font-Awesome";
    font-family: "fasolid900", "fa-solid-900";
}
// contains font icons for brands EX. instagram, twitter etc.
.fab {
    font-family: "faBrandsRegular400" ,"fa-Brands-Regular-400";
}
Button.-primary {
    font-size: 18;
}
.thermo-large-tick-marks {
    @include tickMarks(6, 35);
}
.thermo-small-tick-marks {
    @include tickMarks(5, 19);
}
// mainly used for centering AbsoluteLayouts that are children of FlexboxLayouts
.flex-center-nested-layouts {
    justify-content: center;
    align-items: center;
}

// The following code section is the styling for the navigation menu
.navigation-menu-container {
    background-color: $primaryNavigationColor;
    .profile-image-section-wrapper {
        background-color: $primaryCanvas;
        Label {
            text-align: center;
            height: 55%;
            width: 50%;
            border-radius: 70%;
            font-size: 50;
            color: $primaryCanvas;
            background-color: #fc775f;
        }
    }
    .nav-buttons-wrapper {
        // background-color: purple;
        // targets only the direct children Buttons
        & > Button {
            width: 100%;
            margin-bottom: 15;
            padding-left: 25;
            font-size: 16;
            background-color: $primaryNavigationColor;
            color: $primaryTextColor;
            text-align: left;
            font-weight: bold;
            android-elevation: 0;
            .button-icon-font {
                font-size: 21;
            }
        }
        .nav-footer-wrapper {
            .logout-btn {
                background-color: $primaryNavigationColor;
                border-radius: 30;
                color: $primaryTextColor;
                border-color: $primaryTextColor;
                border-width: 2;
            }
            .brand-icons-wrapper {
                padding-top: 9;
                justify-content: space-around;
                text-align: center;
                .btn-brand-icon {
                    text-align: center;
                    background-color: $primaryNavigationColor;
                    color: $primaryTextColor;
                    font-size: 30;
                    font-weight: bold;
                }
            }
        }
    }
}
