/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";
@import "./app/shared/scss/mixins";
@import "./app/shared/scss/variables";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/
.fa {
    // font-family: "FontAwesome", "Font-Awesome";
    font-family: "fasolid900", "fa-solid-900";
}
Button.-primary {
    font-size: 18;
}
.thermo-large-tick-marks {
    @include tickMarks(6, 35);
}
.thermo-small-tick-marks {
    @include tickMarks(5, 19);
}
// mainly used for centering AbsoluteLayouts that are children of FlexboxLayouts
.flex-center-nested-layouts {
    justify-content: center;
    align-items: center;
}
// The following code section is the styling for the navigation menu
.navigation-menu-container {
    background-color: $primaryCanvas;
    .profile-image-section-wrapper {
        Label {
            text-align: center;
            height: 55%;
            width: 50%;
            border-radius: 70%;
            font-size: 50;
            color: $primaryCanvas;
            background-color: #fc775f;
        }
    }
    .nav-buttons-wrapper {
        background-color: #fbe55a;
        Button {
            text-align: center;
            color: $primaryTextColor;
            font-weight: bold;
            font-size: 14;
            // background-color: #fbe55a;
            // border-color: #c7b54b;
            // border-left: 0;
            // border-right: 0;
            // border-style: solid;
            // border-width: 2;
            android-elevation: 0;
            .button-icon-font {
                font-size: 20;
            }
        }
    }
}
