@import "../../scss/variables";

ActionBar {
    background: $secondaryBaseColor;
    color: $primaryTextColor;
    border-bottom-left-radius: 17;
    border-bottom-right-radius: 17;
}
.icon-hamburger {
    color: $primaryHighlightColor;
}
